.btn {
  border: none;
  outline: none;
  padding: 10px 16px;

  cursor: pointer;
  font-size: 18px;
}
@keyframes example {
  0% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(99%);
  }
  100% {
    transform: translateX(1%);
  }
}

/* The element to apply the animation to */
#MYDIV {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  animation-duration: 2s;
  position: absolute;
}

#slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Style the active class, and buttons on mouse-over */
.active,
.btn:hover {
  background-color: white;
  color: rgb(241, 20, 57);
}
/* .trans {
  animation-name: trans;
  animatiom-delay: 0s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes trans{
  from{
    background-color: tomato;
  }
  to{
    background-color: :violet;
  }
} */
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
